<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav style="background-color: #333; padding: 10px; text-align: center;">
    <li style="display: inline-block; margin-right: 20px;"><a style="color: white; text-decoration: none;" href="/students/home">Home</a></li>
    <li style="display: inline-block; margin-right: 20px;"><a style="color: white; text-decoration: none;" href="/students/insert">Insert</a></li>
     <li style="display: inline-block; margin-right: 20px;"><a style="color: white; text-decoration: none;" href="/students/display">Display</a></li>
</nav>

    
<h1 style="text-align: center;">This is student display page</h1>

<table border="1px" align="center" style="font-size: 30px;text-align: center;">
<tr>
    <th style="padding: 20px;">Rollno</th>
    <th style="padding: 20px;" >Name</th>
    <th style="padding: 20px;" >City</th>
    <th style="padding: 20px;" >Fees</th>
</tr>
<%   
MyData.map((key)=>{
%>

<tr>
<td style="padding: 10px;"><%=key.rollno%> %></td>
<td style="padding: 10px;" ><%=key.name%> %></td>
<td style="padding: 10px;" ><%=key.city%> %></td>
<td style="padding: 10px;" ><%=key.fees%> %></td>
</tr>

<%
})
%>
</table>

</body>    
</html>