<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  nav{
        height: 70px;
        background-color: rgb(109, 49, 211);
        ul{
           padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        a{
            color: white;
            text-decoration: none;
            font-size: 30px;

        }
        }
    }
</style>
<body bgcolor="aqua">

<nav>
<ul><li>
    <a href="/college/home">Home</a>
</li>
<li>
    <a href="/college/about">About</a>
</li>
<li>
    <a href="/college/courses">Courses</a>
</li>
<li>
    <a href="/college/faculty">Faculty</a>
</li>

<li>
    <a href="/college/contact">Contact</a>
</li>
</ul>

</nav>
    <h1>Faculty Page</h1>


    <footer style="text-align: center; padding: 10px; background-color: rgb(109, 49, 211); color: white; position: fixed; width: 100%; bottom: 0;">
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>